

body, html {
  box-sizing: border-box;
  height: 100vh;
  background-color: #242628;
  color: white;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.wrapper {
  border-bottom: 1px solid black;
}
.nav-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 55px;
  /* background-color:blue; */
  padding: 25px 22px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  /* background-color: blueviolet; */
}
.nav-items {
  /* text-decoration: none; */
  list-style: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
.logo img {
  height: 30px;
  color: white;
}
.item-container {
  display: block;
  flex-direction: column;
}
.sign-up {
  /* padding: 20px; */

}